.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.cover__container {
  padding: 165px 0px 50px 0px;
  z-index: 100;
}

.cover__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 123px;
  z-index: 100;
}

.accent-span {
  display: flex;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: var(--color-white);
}

.text-center {
  align-self: center;
}

.text-left {
  align-self: flex-start;
}

.text-right {
  align-self: flex-end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.accent-span:not(:last-child) {
  margin-bottom: 8px;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cover__description-text {
  margin-right: 78px;
  word-spacing: 18px;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--color-white);
}

.cover__btn {
  border: 1px solid var(--color-white);
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--color-white);
}
