@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
    url(./Raleway-Regular.woff) format('woff'),
    url(./Raleway-Regular.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),
    url(./Raleway-Bold.woff) format('woff'),
    url(./Raleway-Bold.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}