.footer {
  padding-top: 157px;
  padding-bottom: 90px;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__menu .menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  gap: 48px;
}

.social__link img {
  width: 48px;
  height: 48px;
}
